@function rem($size) {
    @return $size / 16px * 1rem;
}

:root {
    --text_default_color: rgb(237, 237, 237);
    --body_background_color: rgb(41, 55, 93);
    --main_background_color: rgba(66, 66, 144, 0.739);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body_background_color);
}

main {
    max-width: 1440px;
    background-color: var(--main_background_color);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;

    .card__text {
        padding: 10%;
        font-size: rem(30px);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: var(--text_default_color);
        width: 50%;
    }

    .card__vedio-display {
        width: 40%;

        video {
            width: 100%;
            box-shadow: 2px 2px 22px 2px rgba(0, 0, 0, 0.329);
        }
    }

    .set-height {
        display: block;
    }

    &:nth-child(2),
    &:nth-child(4) {
        flex-direction: row-reverse;
    }
}